@import "../../../styles/colors";

.menu {
    .menuButton {
        z-index: 100;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 3rem;
        height: 3rem;
        padding: 0.5rem 1rem 0.5rem 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        border: none;
        background: transparent;
        cursor: pointer;    
    
        > div {
            position: relative;
            height: 0.3rem;
            border-radius: 0.15rem;
            background: $medium-blue;
            transition: 0.5s;

            &:first-child {
                width: 2rem;
            }
    
            &:last-child {
                margin-top: 0.5rem;
                width: 1.4rem;
            }

            &.collapsed {
                background: $white;

                &:first-child {
                    animation: hamburger1 0.5s;
                    transform: rotate(45deg);
                    position: absolute;
                }

                &:last-child {
                    animation: hamburger2 0.5s;
                    transform: rotate(-45deg);
                    position: absolute;
                    top: 0.8rem;
                    width: 2rem;
                }
            }
        }
    
        &:hover {
            > div {
                background: $light-blue;
            }
        }
    }

    .fullMenu {
        transition: 0.5s;

        &.collapsed {
            display: none;
        }

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        position: fixed;
        top: 0rem;
        bottom: 0rem;
        left: 0rem;
        right: 0rem;

        overflow: hidden;

        z-index: 9;

        background: linear-gradient(162.46deg, #124559 0%, #598392 100%);

        padding: 8rem 2rem 4rem 2rem;

        animation: fullMenu 0.5s;

        ul {
            flex: 1;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 1rem;

            li {
                padding: 1rem;
                border: 2px solid $white;
                border-radius: 0.5rem;
                width: 100%;
                list-style-type: none;
                display: flex;
                align-items: center;
                gap: 1rem;
                
                font-size: 1.1rem;
                font-weight: 600;
                color: $white;
            }
        }
    }
}

@keyframes hamburger1 {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(45deg);
    }
}

@keyframes hamburger2 {
    from {
        width: 1.4rem;
        transform: rotate(0deg);
    }
    to {
        width: 2.0rem;
        transform: rotate(-45deg);
    }
}

@keyframes fullMenu {
    0% {
        opacity: 0;
        bottom: 100vh;
    }
    100% {
        opacity: 1;
        bottom: 0;
    }
}