@import "../../../styles/colors";

.add {
    position: fixed;
    bottom: 2rem;
    right: 2rem;

    width: 3.75rem;
    height: 3.75rem;
    border-radius: 50%;
    background: $medium-blue;
    border: none;

    box-shadow: 0px 4px 8px rgba(174, 195, 176, 0.8);

    cursor: pointer;

    &:hover {
        background: $light-blue;
    }
}