@import '../../../styles/colors';

.dark,
.medium,
.light {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    font-family: 'Pacifico', cursive;
}

.dark {
    color: $medium-blue;
        
    span {
        color: $light-blue;
    }
}

.medium {
    color: $white;

    img {
        filter: brightness(0) invert(1);
    }
        
    span {
        color: $light-blue;
    }
}

.light {
    color: $white;

    img {
        filter: brightness(0) invert(1);
    }
        
    span {
        color: $medium-blue;
    }
}

.big {
    font-size: 3rem;
    gap: 0.5rem;

    img {
        width: 3rem;
        height: 3rem;
    }
}

.small {
    font-size: 2rem;
    gap: 0.3rem;

    img {
        width: 2rem;
        width: 2rem;
    }
}

